<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bankingSolution.dao.AccountDao">
    <insert id="createAccount" useGeneratedKeys="true" keyProperty="id" keyColumn="account_id">
        INSERT INTO account (customer_id, country)
        VALUES (#{customerId}, #{country});
    </insert>

    <select id="getAccountById" resultType="com.example.bankingSolution.dto.AccountDto">
        SELECT
            a.account_id AS id,
            a.customer_id AS customerId
        FROM account a
        WHERE a.account_id = #{id}
    </select>
</mapper>