<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bankingSolution.dao.BalanceDao">
    <insert id="createBalance">
        INSERT INTO balances (account_id, amount, currency)
        VALUES (#{accountId}, #{amount}, #{currency});
    </insert>

    <select id="getAllBalancesByAccountId" resultType="com.example.bankingSolution.dto.BalanceDto">
        SELECT
            b.amount AS amount,
            b.currency AS currency
        FROM balances b
        WHERE b.account_id = #{id}
    </select>

    <select id="getBalanceByIdAndCurrency" resultType="com.example.bankingSolution.dto.BalanceDto">
        SELECT
            b.balance_id AS id,
            b.amount AS amount,
            b.currency AS currency
        FROM balances b
        WHERE b.account_id = #{id} AND b.currency = #{currency}
    </select>

    <update id="updateBalanceAmount">
        UPDATE balances
        SET amount = #{amount}
        WHERE balance_id = #{id};
    </update>
</mapper>