<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bankingSolution.dao.TransactionDao">
    <insert id="createTransaction" useGeneratedKeys="true" keyProperty="id" keyColumn="transaction_id">
        INSERT INTO transactions (account_id, amount, currency, direction, description)
        VALUES (#{accountId}, #{amount}, #{currency}, #{direction}, #{description});
    </insert>

    <select id="getTransactionById" resultType="com.example.bankingSolution.dto.TransactionDto">
        SELECT
            t.transaction_id AS id,
            t.account_id AS accountId,
            t.amount AS amount,
            t.currency AS currency,
            t.direction AS direction,
            t.description AS description
        FROM transactions t
        WHERE t.transaction_id = #{id}
    </select>
</mapper>